[submodule "deploy/helm-charts"]
	path = deploy/helm-charts
	url = https://github.com/dragonflyoss/helm-charts.git
[submodule "manager/console"]
	path = manager/console
	url = https://github.com/dragonflyoss/console.git
[submodule "client-rs"]
	path = client-rs
	url = https://github.com/dragonflyoss/client.git
