Source: dfget
Maintainer: Dragonfly Group <group@d7y.io>
Build-Depends: debhelper (>= 9), dh-systemd

Package: dfget
Architecture: __PKG_ARCH__
Section: web
Priority: optional
Description: Dragonfly dfget
 dfget is a xxx
Homepage: https://d7y.io
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser
