#!/usr/bin/make -f

DESTDIR=debian/dfget

%:
	dh $@ --with=systemd

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	mkdir -p $(DESTDIR)/etc/dragonfly
	mkdir -p $(DESTDIR)/usr/bin
	cp dfget-daemon.yaml $(DESTDIR)/etc/dragonfly/dfget-daemon.yaml
	cp dfget $(DESTDIR)/usr/bin/dfget

override_dh_installinit:
	dh_installinit --noscripts
	dh_installinit --name dfget-daemon
