name: Lint

on:
  push:
    branches: [ main, release-* ]
  pull_request:
    branches: [ main, release-* ]

env:
  GO_VERSION: 1.18

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Golangci lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.46.2

      - name: Markdown lint
        uses: docker://avtodev/markdown-lint:v1
        with:
          config: '.markdownlint.yml'
          args: '**/*.md'
          ignore: 'deploy/helm-charts manager/console CHANGELOG.md build'
